<nav class="sidebar">
  <div class="author">
    <div class="avatar">
      <img src="https://avatars.io/gravatar/adao.raul@gmail.com/medium" alt="Adão Raul">
    </div>
    <div class="content">
      <h3 class="name">Adão Raul</h3>
      <p class="description">Fullstack Web Developer!</p>
      <ul class="social-buttons">
        <li>
          <a href="http://github.com/adaoraul" target="_blank">
            <i class="fa fa-github-alt" aria-hidden="true"></i> Github
          </a>
        </li>
        <li>
          <a href="http://linkedin.com/in/adaoraul" target="_blank">
            <i class="fa fa-linkedin" aria-hidden="true"></i> Linkedin
          </a>
        </li>
        <li>
          <a href="/feed.xml" target="_blank">
            <i class="fa fa-rss"></i> Feed
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>